#login{
	background-image: url('../21448654-nordic-seamless-christmas-red-pattern.jpg');
	background-size: 100% 100%;
	display:block;
	width:20%;
    min-width:15em;
	padding: 2%;
	border-radius:1em;
	margin: 5% auto 5% auto;
}

#login input	
{
	margin:5% auto 0 auto;
	text-align:center;
	display:block;
    max-width:95%;
}
